.header-image {
	width : 100%;
}

#main {
	margin-top: -20px;
}

.article {
	padding-top: 10px;
}

#main-story-image {
	float: left;
	margin-right: 10px;
}

.main-content-header{
	text-align: center;
}